# Byte-compiled / optimized / DLL files
__pycache__/

# Flask generated garbage:
instance/
.webassets-cache

# virtualenv
.venv
venv/
ENV/

#external libraries

passlib/
wtforms/
pymysql/

