{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" id="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                {{ message }}
            </div>
		{% endfor %}
	{% endif %}
{% endwith %}

<h1>Bienvenue</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="container">
			<div class="row">
			{% for product in cartProduct %}
				<div class="card col-md-4" style="width: 18rem;">
					<h1>{{product.id}}</h1>
				  <img src="{{product.image}}" style="height: 18rem">
				  <div class="card-body">
				    <h2>{{product.name}}</h2>
	            	<h3>{{product.prix}} $</h3>
	            	<p>{{product.description}} </p>
					  <form method="post" action="">
							<button type="submit" name="idProduct" value="{{product.idProduct}}" class="btn btn-primary my-2 my-sm-0 navbarButton">Remove from cart </button>
					  </form>
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}
