{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                {{ message }}
            </div>
		{% endfor %}
	{% endif %}
{% endwith %}
		<h1>Recherche de produits par categorie: {{category}}</h1>

		<div>
			<form method="post" action="">
				<h4>Trier votre recherche par prix</h4>
				<div class="row form-group">
					<div class="col">
						{{ form.minPrice.label }}: {{ form.minPrice(class="form-control") }}
						{% if form.minPrice.errors %}
								<ul class="errors">
								{% for error in form.minPrice.errors %}
									<li> {{ error }} </li>
								{% endfor %}
								</ul>
						{% endif %}
						{{ form.maxPrice.label }}: {{ form.maxPrice(class="form-control") }}
						{% if form.maxPrice.errors %}
								<ul class="errors">
								{% for error in form.maxPrice.errors %}
									<li> {{ error }} </li>
								{% endfor %}
								</ul>
						{% endif %}
					</div>
					<div class="col">
						{{ form.priceOrder.label }}: {{ form.priceOrder(class="form-control") }}
					</div>
				</div>
				<input type="submit" class="btn" value="Soumettre">
			</form>
		</div>
		<div class="container">
			<div class="row">
			{% for product in products %}
				<div class="card col-md-4" style="width: 18rem;">
					<h1>{{product.id}}</h1>
				  <img src="{{product.image}}" style="height: 18rem">
				  <div class="card-body">
				    <h2>{{product.name}}</h2>
	            	<h3>{{product.prix}} $</h3>
	            	<p>{{product.description}} </p>
	            	<p><a class="btn btn-secondary" href="{{product.idProduct}}" role="button">Buy</a></p>
				  </div>
				</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}
